@font-face {
    font-family: 'fontTitle';
    src: url("../assets/fonts/fontTitle.ttf");
}

@font-face {
    font-family: 'Baloo2';
    src: url("../assets/fonts/Baloo2.ttf");
}


:root {

    /* COLORES */
    --yellow: hsl(60, 91%, 64%);
    --orange: hsl(21, 89%, 52%);
    --green: hsl(135, 63%, 34%);
    --lightblue: rgb(214, 236, 250);
    --violet: hsl(270, 70%, 60%);

}



/* Layout*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 1em;
    font-family: 'Baloo2';
    font-size: 16px;
    background-color: var(--lightblue);
}



@media (min-width: 1024px) {
    body {
        height: 100vh;
    }
}


.header {
    position: relative;
}

.title {
    font-family: "fontTitle";
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    background: linear-gradient(30deg, var(--yellow) 0%, var(--green) 35%, var(--violet) 65%, var(--orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
    .title {
        font-size: 3.5em;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 4em;
    }
}

/* Control sonido */

.volume {
    position: absolute;
    right: 1em;
    top: 1em;
    display: flex;
    padding: .2em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.volume__on, .volume__off {
    display: none;
    cursor: pointer;
}

.volume__on::before, 
.volume__off::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 50%;
    background-color: hsla(270, 70%, 60%, 0.26);
    z-index: -5;
    transform: scale(0);
    opacity: 0;
}

.volume__on.--active,
.volume__off.--active {
    display: flex;

}
.volume__off.--active::before,
.volume__on.--active::before {
    animation: click 300ms linear;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 100%;
}




/* Título y solicitud de color*/


h2 {
    font-size: 1.2em;
}

.color {
    text-transform: uppercase;
}



/* Cards del juego*/

.container__cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 2em auto;
    border-radius: .5em;
}

@media (min-width: 768px) {
    .container__cards {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .container__cards {
        width: 40%;
    }
}

.flip-card {
    width: 50%;
    height: 30vh;
    perspective: 1000px;
    background-color: transparent;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 600ms ease transform;
    transform-style: preserve-3d;
}

.flip-card.--ok .card {
    transform: rotateY(-180deg);
}

.flip-card.--error {
    animation: error 300ms;
}


.option__color,
.option__color__result {
    position: absolute;
    width: 100%;
    height: 100%;
    border: .1em solid lightskyblue;
    cursor: pointer;
    border-radius: .5em;
}



.option__color__result {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(-180deg);
}


.option__color__result p {
    animation: fontSize ease-in-out 2s;
}

.option__color__result p::first-letter{
   text-transform: uppercase;
}





@keyframes fontSize {
    0% {
       font-size: 0;

    } 25% {
        font-size: 1.3em;

    } 50% {
        font-size: 1em;

    } 75% {
        font-size: 1.4em;

    } 100% {
        font-size: .8em;
    }
}

@keyframes error {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    } 75% {
        transform: rotate(1deg);
    } 100% {
        transform: rotate(0deg);
    }
}


@keyframes click {
    0% {
        transform: scale(0);
        opacity: .5;
    }
    
    20% {
        transform: scale(.5);
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;

    }


}